.contentwrapper {
    background-color: hsl(233, 47%, 7%);
    height: 100vh;
    margin: 0;
    display: grid;
    align-items: center;
}

.container {
    background-color: hsl(244, 38%, 16%);
    width: 65%;
    height: 400px;
    margin-left: 17%;
    border-radius: 8px;
    display: flex;
    
}

.left-col {
  float: left;
  width: 425px;
  margin: 30px;
  margin-left: 45px;  
}

.text {
    width: 270px;
    text-align: center;
}

.text h2{
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 25px;
    text-align: justify;
    text-align-last: left;
}
span {
    color: hsl(277, 64%, 61%);
}

.mainpara {
    max-width: 18em;
    color: hsla(0, 0%, 100%, 0.75);
    font-size: small;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: justify;
    text-align-last: left;
}

.footer {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    line-height: .4rem;
    margin-top: 60px;
    text-align: justify;
    text-align-last: left;
}

h3 {
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    color: hsl(0, 0%, 100%);
    font-size: 20px;
}

.stat-heading{
    color: hsla(0, 0%, 100%, 0.6);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.right-col {
    background-color: hsl(277, 64%, 61%); 
    float: right;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px; 
}
.card {
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    
}

@media(max-width:768px) {
    .contentwrapper{
     height: 100%;  
     width: 120%;
     align-items: center;
     
        
    }
    .container{
        display: flex;
        flex-direction: column-reverse;
        width: 400px;
        height: 65%;
        margin-top: 180px;
        margin-bottom: 30px;
        margin-left: 11em;

    }
    .right-col{
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 0px;
    }


    .left-col{
        align-items: center;
    }
    .text{
        width: 250px;
        margin-left: 1em;
        
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align-last: center;
        margin: 10px;
  
    }
   .text h2 {
        font-size: 20pt;
        text-align: center;
        text-align-last: center;
    }

    .mainpara{
        text-align: center;
        text-align-last: center;
        margin-left: 22px;
        max-width: 16em;
    }
   
    h3{
        font-size: 21px;
        text-align: center;
    }
 
    .stat-heading{
        font-size: 15px;
    }
}

